<html>
<head>
</head>
<body>
    <h2>Lista de professores</h2>

    <ul>
        {{#each professores}}
        <li>
            <a href="/professores/ver/{{id}}">{{nome}}</a> - Disciplina: {{disciplina}}
            <a href="/professores/{{id}}/editar">editar</a>

            <form action="/professores/excluir/{{id}}" method="POST" style="display:inline;">
                <button type="submit" onclick="return confirm('Confirma exclusão?')">
                    excluir
                </button>
            </form>
        </li>
        {{/each}}
    </ul>

    <a href="/professores/novo">Cadastrar novo professor</a>
    <a href="/">Voltar</a>
</body>
</html>