<html>
<head>
</head>
<body>
    <h2>Lista de turmas</h2>

    <ul>
        {{#each turmas}}
        <li>
            <a href="/turmas/ver/{{id}}">{{nome}}</a> - Turno: {{turno}} - Capacidade: {{capacidade}}
            <a href="/turmas/{{id}}/editar">editar</a>

            <form action="/turmas/excluir/{{id}}" method="POST" style="display:inline;">
                <button type="submit" onclick="return confirm('Confirma exclusão?')">
                    excluir
                </button>
            </form>
        </li>
        {{/each}}
    </ul>

    <a href="/turmas/nova">Cadastrar nova turma</a>
    <a href="/">Voltar</a>
</body>
</html>